* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(202, 218, 223);
    /* outline: 1px solid red; */
}

body{
    width: 100vw;
    height: 100vh;
}

h1{
    font-family: sans-serif;
    flex-grow: 0.9;
    font-size: 3rem;
    color: rgb(51, 170, 91);
    text-shadow: 2px 2px rgb(0, 128, 107);

}

#titulo_rules{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 15px;
}

#titulo_form{
    display: block;
    text-align: center;
    font-size: 2rem;
    background-color: black;
    color: white;
    margin-bottom: 15px
}



header{
    width: 100vw;
    height: 9vh;
    display: flex;
    gap: 1;
    align-items: center;
    flex-wrap: wrap;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

#about{
    margin-top: 10px;
}

#contact{
    margin-top: 10px;
}

.banner{
    width: 100vw;
    height: 40vh;
    background-size: cover;
}

nav{
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    gap: 7px;
    flex-wrap: wrap;
    margin-right: 20px;
}

nav>a:hover{
    transform: scale(1.2);
}

nav>a:active{
    background-color: rgb(23, 0, 128);
}

a[href="#"]{
    background-color: rgb(200, 216, 219);
}

nav>a{
    text-decoration: none;
    color: inherit;
    background-color: rgb(128, 203, 216);
    font-size: 1.2rem;
    display: inline-block;
    color: black;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    transition: transform 0.1s;
}

h3 {
    display: flex;
    border: 2px solid black;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgb(128, 203, 216);
}

h4{
    font-size: 1.2rem;
}

#pr{
    color: black;
    margin-left: 33vw;
    font-size: 1.1rem;
}

p{
    padding-left: 20px;
    font-size: 1.1rem;
}

.logo{
    width: 10vw;


}

.img1{
    order: 3;
    margin-top: 10px;
}

.img2{
    order: 3;
   width: 10vw;
}

.img3{
    order: 3;
}

.contenido{
    margin-top: 10px;
}

.txtl{
    width: 75vw;
}

#pa{

    border: 2px;
    border-style: dashed;
    border-color: rgb(91, 204, 198);
}

#rules{
    margin-top: 10px;
    border: 3px solid rgb(91, 204, 198);
    border-style: dashed;
}

dd>ol{
    padding-left: 10px;
}

#rules_s{
    border-left: 3px dashed rgb(91, 204, 198);
    padding-left: 20px;
}

#all_play{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

#fall{
    margin-top: 10px;
}

#fall_sheet{
    background-image: url(./imagenes/Hoja-de-otono.png);
    background-repeat: repeat;
    background-size: 20vw;
}

h5{
    font-size: 1.1rem;
    display: inline-block;
    background-color: rgb(128, 203, 216);
    border: 1px solid black;
    margin-left: 40%;
}

#game{
    margin-top: 30px;
    background: none;
}

table{
    border: 2px solid black;
    width: 70vw;
    font-size: 1.2rem;
}

th{
    border: 2px solid black;
    background-color: aquamarine;
}

td{
    border: 2px solid black;
}


.one{
    background-color: rgb(77, 202, 119);
}

.two{
    background-color: rgb(238, 228, 183);
}

#additional{
    margin-top: 20px;
    margin-left: 27vw;
    display: inline-block;
    border: 2px;
    border-style: dotted;
    border-color: rgb(79, 131, 131);
    padding-right: 10px;
}

.pe{
    display: inline-block;
    margin-right: 50px;
}

/* form */
#form_out{
    flex-direction: column;
    font-size: 1.1rem;
    background-image: url(./imagenes/fondo_form.png);
    background-repeat: repeat;
    background-size: 200px 200px; 
    background-position-x: 500px;
}

/* first name */
#fn{
    margin-bottom: 25px;
    margin-right: 15px;
}


input[type="text"] {
    font-size: 16px;
    border: none;
    border-bottom: 2px solid black;
  }


/* street adress */
#sa{
    padding-right: 25vw;
    margin-bottom: 25px;
}

/* city */
#city{
    padding-right: 8vw;
    margin-right: 15px;
}

/* zip code */
#zip{
    margin-bottom: 25px;
}

/* birth day */
#birth{
    width: 11.7vw;
    margin-right: 15px;
    margin-bottom: 25px;
}

/* grade first */
#first{
    margin-left: 35px;
}

/* grade second */
#second{
    margin-left: 10px;
}

/* grade third */
#third{
    margin-left: 10px;
}

/* grade fourth */
#fourth{
    margin-left: 10px;
}

/* grade fifth */
#fifth{
    margin-left: 10px;
}

/* pregunta formulario 1 */
#pf1{
    font-size: 1.5rem;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* closest school */
#cs{
    padding: 0;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

/* marjorie p hart */
#mph{
    margin-left: 100px;
    margin-bottom: 10px;
}

/* north elementary */
#ne{
    margin-left: 144px;
    margin-bottom: 10px;
}

/* south elementary */
#se{
    margin-left: 88px;
}

/* pregunta 2 */
#p2{
    font-size: 1.5rem;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* midfield */
#mf{
    margin-left: 155px;
    margin-bottom: 10px;
}

/* goalkeeper */
#gk{
    margin-left: 157px;
}

/* pregunta 3 */
#p3{
    font-size: 1.5rem;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* uniform size medium */
#medium{
    margin-left: 129px;
    margin-bottom: 10px;
}

/* uniform size large */
#large{
    margin-left: 110px;
    margin-bottom: 10px;
}

/* uniform size extra large */
#elarge{
    margin-left: 120px;
    margin-bottom: 10px;
}

/* permission to play */
#p2p{
    padding: 0;
    margin-bottom: 10px;
    font-size: 1.3rem;
    margin-top: 40px;
}

/* large text permition */
#txtp{
    padding: 0;
    white-space: pre-wrap;
    width: 50vw;
    margin-bottom: 20px
}

/* signature */
#sig{
    padding-right: 10vw;
    margin-bottom: 20px;
}

/* submit */
#submit{
    display: inline-block;
    width: 50vw;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    cursor: pointer;
}

/* form */
.form{
    border: 2px dashed rgb(51, 196, 221);
    padding: 20px;   
}

/* maps */
.maps{
    border: 2px solid black;
    display: flex;
    margin-top: 5px;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* locations tittle */
#locations{
    padding: 0;
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
}

/* locations */
.loc{
    display: flex;
    align-self: center;
    border: 2px dashed rgb(161, 96, 96);
    padding: 5px;
    margin-bottom: 20px;
    width: 45vw;
    height: 50vh;
    flex-wrap: wrap;
}

/* names */
.names{
    align-self: center;
    margin-right: 10px;
    font-size: 1.2rem;
}